{% extends "base.html" %}

{% block content %}
    <div class="container">
        <h2 class="mb-4">{{ _('Login') }}</h2>
        <form method="post">
            <div class="mb-3">
                <label for="username" class="form-label">{{ _('Username') }}:</label>
                <input type="text" name="username" class="form-control" required>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">{{ _('Password') }}:</label>
                <input type="password" name="password" class="form-control" required>
            </div>
            <button type="submit" class="btn btn-primary">{{ _('Login') }}</button>
        </form>
    </div>
{% endblock %}
